## Token for the NOAA Geomagnetic Offset API. Currently all tokens use the value zNEwZ. Users do not need to change this parameter.
NOAA_GEOMAG_API_TOKEN=zNEw7

## Mapbox access token for loading data from MapBox
MAPBOX_ACCESS_TOKEN=

## Settings for Logging into the Partner API
USERNAME=
PASSWORD=
API_ENDPOINT=

## Default App Registration location when registering with the ETX. This determines what ETX server the app will targets.
# This value also determines what default map location is shown in the App before a GPS position is retrieved
# Commonly used sample values for reference

# Turner Fairbanks
REGISTRATION_LATITUDE=38.9555
REGISTRATION_LONGITUDE=-77.1494

# Colorado
# REGISTRATION_LATITUDE= 39.58937188602476
# REGISTRATION_LONGITUDE= -105.0912699992925

# Atlanta
# REGISTRATION_LATITUDE= 34.05640313666031
# REGISTRATION_LONGITUDE= -84.2769675541679

# New York
# REGISTRATION_LATITUDE= 40.788188
# REGISTRATION_LONGITUDE= -74.163805

## If using a PC5 MQTT broker, the MQTT Broker may be manually specified here. This will automatically enable PC5 in the app.
# Leave empty, if PC5 will not be used by default.
# Value should be structured like a url for example mqtt://test.mosquitto.org:1883
PC5_MQTT_BROKER=

GPS_TYPE=mobile
## If using a remote GPS, the GPS server IP address, username, and password may be specified here.
GPS_USERNAME=neaera
GPS_PASSWORD=Neaera_Dev25
GPS_IP=167.20.208.79
## If using OBU GPS, the OBU IP address may be specified here.
OBU_IP=


## Default App Broadcast Rate - Rates should be between 1 and 10 Hz. Values outside this range will be capped.
BROADCAST_RATE=10