## Token for the NOAA Geomagnetic Offset API. Currently all tokens use the value zNEwZ. Users do not need to change this parameter.
NOAA_GEOMAG_API_TOKEN=zNEw7

## Mapbox access token for loading data from MapBox
MAPBOX_ACCESS_TOKEN=

## Settings for Logging into the Partner API
USERNAME=
PASSWORD=
API_ENDPOINT=
VENDOR_ID=

## Default App Registration location when registering with the ETX. This determines what ETX server the app will targets.
# This value also determines what default map location is shown in the App before a GPS position is retrieved
# Commonly used sample values for reference

# Turner Fairbanks
REGISTRATION_LATITUDE=38.9555
REGISTRATION_LONGITUDE=-77.1494

# Colorado
# REGISTRATION_LATITUDE= 39.58937188602476
# REGISTRATION_LONGITUDE= -105.0912699992925

# Atlanta
# REGISTRATION_LATITUDE= 34.05640313666031
# REGISTRATION_LONGITUDE= -84.2769675541679

# New York
# REGISTRATION_LATITUDE= 40.788188
# REGISTRATION_LONGITUDE= -74.163805

## If using a PC5 MQTT broker, the MQTT Broker may be manually specified here. This will automatically enable PC5 in the app.
# Leave empty, if PC5 will not be used by default.
# Value should be structured like a url for example mqtt://test.mosquitto.org:1883
PC5_MQTT_BROKER=

GPS_TYPE=mobile
## If using a remote GPS, the GPS server IP address, username, and password may be specified here.
GPS_USERNAME=neaera
GPS_PASSWORD=Neaera_Dev25
GPS_IP=167.20.208.79
## If using OBU GPS, the OBU IP address may be specified here.
OBU_IP=

## Default App Broadcast Rate - Rates should be between 1 and 10 Hz. Values outside this range will be capped.
BROADCAST_RATE=10

## Tolling Settings
TOLLING_ENABLED=true
SHOW_TIMS=true
DISABLE_TUM_RETRY=false

## App Branding Settings
APP_NAME=Sample
LOGO_PATH=assets/images/Custom/logo.png
LOAD_PAGE_PATH=assets/images/Custom/load_page.png

## Color Settings - These settings are used to customize the color scheme of the app. Colors should be input as hex values in ARGB format (ex. 0xFF000000 for black).
LIGHT_BACKGROUND_COLOR=0xFFFFFFFF
DARK_BACKGROUND_COLOR=0xFF000000

PRIMARY_COLOR=0xFF777C85
DARK_PRIMARY_COLOR=0xFF383E47

SELECTED_COLOR=0xFF547DBF
DARK_SELECTED_COLOR=0xFF1D355C
DISABLED_COLOR=0xFF868686
DARK_DISABLED_COLOR=0xFF333333

TEXT_PRIMARY_COLOR=0xFF000000
DARK_TEXT_PRIMARY_COLOR=0xFFFFFFFF
TEXT_SECONDARY_COLOR=0xFF868686
DARK_TEXT_SECONDARY_COLOR=0xFFCACACA

LIGHT_GREY=0xFFE5E5E5
MEDIUM_GREY=0xFF898989
DARK_GREY=0xFF545454

