## Token for the NOAA Geomagnetic Offset API. Currently all tokens use the value zNEwZ. Users do not need to change this parameter.
NOAA_GEOMAG_API_TOKEN=zNEw7

## Mapbox access token for loading data from MapBox
MAPBOX_ACCESS_TOKEN=

## Settings for Logging into the Partner API
USERNAME=
PASSWORD=
API_ENDPOINT=
VENDOR_ID=

## Default App Registration location when registering with the ETX. This determines what ETX server the app will targets.
# This value also determines what default map location is shown in the App before a GPS position is retrieved
# Commonly used sample values for reference

# Turner Fairbanks
REGISTRATION_LATITUDE=38.9555;
REGISTRATION_LONGITUDE=-77.1494;

# Colorado
# REGISTRATION_LATITUDE= 39.58937188602476;
# REGISTRATION_LONGITUDE= -105.0912699992925;

# Atlanta
# REGISTRATION_LATITUDE= 34.05640313666031;
# REGISTRATION_LONGITUDE= -84.2769675541679;

# New York
# REGISTRATION_LATITUDE= 40.788188;
# REGISTRATION_LONGITUDE= -74.163805;

## Credentials for Uploading log files to AWS S3 Buckets
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=
S3_DESTINATION=